<%- include('includes/_header')%>

<!-- main -->
<main id="main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
            <div class="filer">
                <a href="/"><i class="fas fa-angle-double-left"></i> All Users</a>
            </div>
            <div class="form-title text-center" style="margin: auto;">
                <h2 class="text-dark">New Account</h2>
                <span class="text-light">Use the below form to create new account</span>
            </div>
        </div>
        <!-- form input -->
        <div>
            <%- include('includes/_form')%>
        </div>
    </div>
</main>
<!-- main -->

<%- include('includes/_footer')%>