/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

:root {
    --dark: #2b2d42;
    --light: #adb5db;
    --border: #dee2e6;
    --border-btn: #edf2f4;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1024px;
    margin: auto;
}

.nav-brand {
    font-size: 1.5em;
    font-weight: bold;
}
.d-flex {
    display: flex;
    flex-wrap: wrap;
}
.justify-between {
    justify-content: space-between;
}
.text-center {
    text-align: center;
}
.border-shadow {
    border: 1px solid var(--border-btn);
    box-shadow: 1px 3px 10px #e9ecef;
}
.text-dark {
    color: var(--dark);
}
.text-light {
    color: var(--light);
}
.inline {
    display: inline-block;
}

.text-gradient {
    background: linear-gradient(to right, #8e2de2, #4a00e0);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    
}